<div class="header" ui-scrollfix>
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="/#page1">Page 1</a></li>
  </ul>
  <h3 class="text-muted">ui utils scrollfix demo</h3>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat felis at ipsum rutrum, ut facilisis
  lacus pulvinar. Praesent tincidunt hendrerit orci nec feugiat. Nam vel nibh sed nulla lacinia sagittis id nec tortor.
  Duis adipiscing, lectus sed laoreet porttitor, arcu massa vestibulum tellus, ullamcorper egestas orci metus et odio.
  Vivamus eget diam ac urna ullamcorper ultricies. Quisque eu lectus mi. Donec in ante auctor, faucibus neque sed,
  convallis erat. Donec suscipit, dui convallis molestie adipiscing, nibh lacus pellentesque risus, non dapibus quam sem
  at odio. Morbi id sapien magna. Donec non ultrices lectus. Nam semper quam vehicula lectus lacinia, feugiat venenatis
  mi tempor. Nam mattis lacus nisi, quis molestie augue pellentesque a.</p>

<p ui-scrollfix>Mauris at lorem tortor. Integer in varius ante, ac sodales sapien. Nam vitae porta nisi, quis
  tincidunt nibh. Nunc sagittis sem mauris, ut pharetra arcu tincidunt id. Pellentesque sagittis nulla dui, sit amet
  ultricies magna tincidunt a. Vestibulum rhoncus dignissim iaculis. Quisque in pharetra dui, mollis fermentum elit. In
  hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
  Duis magna nunc, interdum vitae eleifend ac, tincidunt non neque. Cras condimentum aliquet dui, et mattis nisi lacinia
  eu.</p>

<p>Pellentesque vel aliquam magna. Aliquam nec justo quis orci lobortis iaculis. Maecenas ac velit sed augue
  vestibulum consequat. Phasellus dapibus, magna nec ultrices tincidunt, dolor purus sollicitudin velit, vel lobortis
  neque urna nec libero. Nunc tincidunt nisl id arcu molestie accumsan. Aliquam vel nisi sed erat congue scelerisque ut
  facilisis libero. Nullam tempus nibh neque, mollis vestibulum libero aliquet venenatis. Mauris porttitor convallis
  nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin facilisis accumsan. Sed leo
  dolor, congue in nisi ac, volutpat malesuada lorem. Integer sollicitudin sem non aliquet porttitor. Sed vel tortor
  tellus. Proin orci orci, semper in metus ac, lobortis sollicitudin augue.</p>

<p>Phasellus vitae nisl quis lacus luctus dictum. Suspendisse vitae mattis risus, vitae euismod tellus. Suspendisse
  ac justo nisi. Quisque ut odio ut ligula dapibus luctus. Mauris vitae lectus at erat egestas venenatis. Vestibulum
  ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at nibh diam. Sed turpis neque,
  bibendum consectetur suscipit eget, hendrerit nec mauris. Suspendisse dictum posuere lectus, id varius enim porttitor
  et. Quisque dapibus neque ullamcorper lobortis tempor. Ut non sem mi. Nunc ut turpis aliquet, laoreet elit et, mattis
  mi. Nam pulvinar fringilla turpis ac ultricies. Duis molestie consectetur odio.</p>

<p>Mauris at arcu elit. Curabitur ultricies vestibulum blandit. Ut non nulla semper urna ultricies placerat.
  Curabitur pharetra eros dapibus rhoncus aliquam. Quisque hendrerit cursus ligula, et accumsan arcu venenatis ut. Duis
  elementum urna vel justo dictum, sed gravida orci sollicitudin. Etiam tincidunt, magna non fringilla rhoncus, dolor
  magna dignissim enim, dapibus gravida nisi justo nec ligula. Quisque sit amet dignissim sapien, vitae rutrum dolor.
  Aenean congue nisi purus, nec ultrices massa mollis eu. Vestibulum eleifend magna ante, in vehicula nisi cursus eget.
  Phasellus eleifend enim odio. Maecenas eu eros ipsum. Maecenas odio sapien, varius quis nibh mattis, malesuada iaculis
  lectus. Duis id gravida purus. Ut sit amet velit eu ipsum dictum pharetra et quis leo. Aenean nec elementum augue.</p>

<p>Pellentesque vel aliquam magna. Aliquam nec justo quis orci lobortis iaculis. Maecenas ac velit sed augue
  vestibulum consequat. Phasellus dapibus, magna nec ultrices tincidunt, dolor purus sollicitudin velit, vel lobortis
  neque urna nec libero. Nunc tincidunt nisl id arcu molestie accumsan. Aliquam vel nisi sed erat congue scelerisque ut
  facilisis libero. Nullam tempus nibh neque, mollis vestibulum libero aliquet venenatis. Mauris porttitor convallis
  nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin facilisis accumsan. Sed leo
  dolor, congue in nisi ac, volutpat malesuada lorem. Integer sollicitudin sem non aliquet porttitor. Sed vel tortor
  tellus. Proin orci orci, semper in metus ac, lobortis sollicitudin augue.</p>

<p>Phasellus vitae nisl quis lacus luctus dictum. Suspendisse vitae mattis risus, vitae euismod tellus. Suspendisse
  ac justo nisi. Quisque ut odio ut ligula dapibus luctus. Mauris vitae lectus at erat egestas venenatis. Vestibulum
  ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at nibh diam. Sed turpis neque,
  bibendum consectetur suscipit eget, hendrerit nec mauris. Suspendisse dictum posuere lectus, id varius enim porttitor
  et. Quisque dapibus neque ullamcorper lobortis tempor. Ut non sem mi. Nunc ut turpis aliquet, laoreet elit et, mattis
  mi. Nam pulvinar fringilla turpis ac ultricies. Duis molestie consectetur odio.</p>

<p>Mauris at arcu elit. Curabitur ultricies vestibulum blandit. Ut non nulla semper urna ultricies placerat.
  Curabitur pharetra eros dapibus rhoncus aliquam. Quisque hendrerit cursus ligula, et accumsan arcu venenatis ut. Duis
  elementum urna vel justo dictum, sed gravida orci sollicitudin. Etiam tincidunt, magna non fringilla rhoncus, dolor
  magna dignissim enim, dapibus gravida nisi justo nec ligula. Quisque sit amet dignissim sapien, vitae rutrum dolor.
  Aenean congue nisi purus, nec ultrices massa mollis eu. Vestibulum eleifend magna ante, in vehicula nisi cursus eget.
  Phasellus eleifend enim odio. Maecenas eu eros ipsum. Maecenas odio sapien, varius quis nibh mattis, malesuada iaculis
  lectus. Duis id gravida purus. Ut sit amet velit eu ipsum dictum pharetra et quis leo. Aenean nec elementum augue.</p>